.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $color-white;
}

.logo span {
  margin-left: 16px;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.02em;
}
