$color-white: #ffffff;
$color-blue-lighter: #5A98D0;
$color-blue-light: #316099;
$color-blue: #1F3F68;
$color-blue-shadow: #356ead;
$color-blue-shadow-feature: #1070b1;
$color-blue-gradient: #98C3E8;
