@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  src: local("Gilroy"), local("Gilroy-Regular"),
       url("../fonts/Gilroy-Regular.woff2") format("woff2"),
       url("../fonts/Gilroy-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Galien";
  font-weight: 400;
  font-style: normal;
  src: local("Galien"), local("Galien-Regular"),
       url("../fonts/Galien-Regular.woff2") format("woff2"),
       url("../fonts/Galien-Regular.woff") format("woff");
  font-display: swap;
}

body {
  font-size: 16px;
  line-height: 26px;
  font-family: "Gilroy", "Arial", sans-serif;
}
